body {
  background: rgba(0, 174, 255, 0.781);
}
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
/* Demo Purpose Only*/
.demo {
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.demo a {
  font-family: "Raleway", sans-serif;
  color: #000;
}

.header {
  position: absolute;
  width: 2560px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: rgba(36, 102, 163, 0.6);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.block-school {
  position: absolute;
  background: rgb(255, 166, 0);
  width: 839px;
  height: 100px;
  left: 352px;
  top: 0px;

  /* background: #c4c4c4;*/
  border: 1px solid #000000;
  box-sizing: border-box;
}

.text-school {
  position: absolute;
  width: 839px;
  height: 0px;
  left: 70px;
  top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 2560px;
  position: relative;
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slider-text1 {
  position: absolute;
  width: 915px;
  height: 50px;
  left: 500px;
  top: 250px;
  color: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}
.text-down1 {
  position: absolute;
  width: 915px;
  height: 30px;
  left: 300px;
  top: 400px;
  color: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}
.slider-text2 {
  position: absolute;
  width: 915px;
  height: 109px;
  left: 400px;
  top: 250px;
  color: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}
.text-down2 {
  position: absolute;
  width: 915px;
  height: 30px;
  left: 350px;
  top: 400px;
  color: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}
.slider-text3 {
  position: absolute;
  width: 915px;
  height: 109px;
  left: 400px;
  top: 250px;
  color: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}
.text-down3 {
  position: absolute;
  width: 915px;
  height: 30px;
  left: -70px;
  top: 150px;
  color: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fff;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.about-our {
  font-size: 65px;
  text-align: center;
  margin-top: 100px;
}

.about-school {
  position: absolute;
  width: 915px;
  height: 109px;
  left: 400px;
  top: 1000px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.about-school2 {
  position: absolute;
  width: 1320px;
  height: 109px;
  left: 150px;
  top: 1202px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 84px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.about-school3 {
  position: absolute;
  width: 1320px;
  height: 109px;
  left: 120px;
  top: 1455px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 159x;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.button {
  position: absolute;
  width: 200px;
  height: 59px;
  left: 650px;
  top: 1655px;
  background: #c4c4c4;
  border-radius: 100px;
  font-size: 20px;
}
.link {
  text-decoration: none;
}
.teacher {
  position: absolute;
  width: 600px;
  height: 109px;
  left: 600px;
  top: 1750px;

  font-size: 35px;
}
.shep {
  position: absolute;
  width: 148px;
  height: 156px;
  left: 100px;
  top: 2005px;
  font-size: 45px;
}
.name-teacher {
  position: absolute;
  width: 148px;
  height: 156px;
  left: 270px;
  top: 2005px;
  font-size: 25px;
  color: #e18c0b;
  font-weight: bold;
}
.describe-teacher {
  position: absolute;
  width: 248px;
  height: 156px;
  left: 270px;
  top: 2065px;
  font-size: 17px;
  font-weight: normal;
}

.roico {
  position: absolute;
  width: 148px;
  height: 156px;
  left: 700px;
  top: 2005px;
  font-size: 45px;
}
.name-teacher2 {
  position: absolute;
  width: 148px;
  height: 156px;
  left: 870px;
  top: 2005px;
  font-size: 25px;
  color: #e18c0b;
  font-weight: bold;
}
.describe-teacher2 {
  position: absolute;
  width: 248px;
  height: 156px;
  left: 870px;
  top: 2065px;
  font-size: 17px;
  font-weight: normal;
}

.dima {
  position: absolute;
  width: 148px;
  height: 156px;
  left: 1150px;
  top: 2005px;
  font-size: 45px;
}

.name-teacher3 {
  position: absolute;
  width: 148px;
  height: 156px;
  left: 1350px;
  top: 2005px;
  font-size: 25px;
  color: #e18c0b;
  font-weight: bold;
}
.describe-teacher3 {
  position: absolute;
  width: 248px;
  height: 156px;
  left: 1350px;
  top: 2065px;
  font-size: 17px;
  font-weight: normal;
}
.our-course {
  position: absolute;
  width: 427px;
  height: 728px;
  left: 620px;
  top: 2200px;
  font-size: 45px;
}

.course1 {
  position: absolute;
  width: 400px;
  height: 700px;
  left: 105px;
  top: 2372px;

  background: rgba(36, 102, 163, 0.6);
  border-radius: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

/* .course-text {
  position: absolute;
  width: 427px;
  height: 728px;
  left: 105px;
  top: 1272px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center; 

  color: #000;
}*/

.course2 {
  position: absolute;
  width: 400px;
  height: 700px;
  left: 605px;
  top: 2372px;

  background: rgba(36, 102, 163, 0.6);
  border-radius: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.course3 {
  position: absolute;
  width: 400px;
  height: 700px;
  left: 1105px;
  top: 2372px;

  background: rgba(36, 102, 163, 0.6);
  border-radius: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.button2 {
  position: absolute;
  width: 200px;
  height: 59px;
  left: 100px;
  top: 555px;
  background: #c4c4c4;
  border-radius: 100px;
  font-size: 20px;
}
.link2 {
  text-decoration: none;
  color: #e18c0b;
  font-weight: normal;
}

.button3 {
  position: absolute;
  width: 200px;
  height: 59px;
  left: 100px;
  top: 555px;
  background: #c4c4c4;
  border-radius: 100px;
  font-size: 20px;
}

.button4 {
  position: absolute;
  width: 200px;
  height: 59px;
  left: 100px;
  top: 555px;
  background: #c4c4c4;
  border-radius: 100px;
  font-size: 20px;
}

.foother {
  position: absolute;
  width: 1520px;
  height: 220px;
  left: 0px;
  top: 3465px;
  font-size: 17px;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.email {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  top: 3505px;
}
.street {
  color: #fff;
  font-size: 18px;
}
.bold {
  font-weight: bold;
}
.name {
  color: sandybrown;
  font-size: 20px;
}
